<tr>
	<td style="border-bottom:solid 1px #999">
		{customer_name}
	</td>
	<td style="text-align:center;border-bottom:solid 1px #999">
		{customer_taxnumber}
	</td>
	<td style="text-align:center;border-bottom:solid 1px #999">
		{invoices_count}
	</td>
	<td style="text-align:center;border-bottom:solid 1px #999">
		{sum_subtotal}
	</td>
	<td style="text-align:center;border-bottom:solid 1px #999">
		{taxvalue_sum}
	</td>
	<td style="text-align:center;border-bottom:solid 1px #999">
		{sum_total}
	</td>
</tr>
{centralized_items}