<tr>
	<td style="border-bottom:solid 1px #999">
		{item_description}
	</td>
	<td style="text-align:center;border-bottom:solid 1px #999">
		{item_amount}
	</td>
	<td style="text-align:right;border-bottom:solid 1px #999">
		{item_unit}
	</td>
	<td style="text-align:right;border-bottom:solid 1px #999">
		{item_total}
	</td>
</tr>
{invoice_items}