<table width="100%">
  <tr>
    <td style="text-align:right;" width="400">
      <table width="100%">
        <tr>
          <td colspan="2" style="font-size:24px" align="right">{invoice_invoiceTypeName}</td>
        </tr>
        <tr>
          <td colspan="2" align="right">
            <b>{invoice_isCreditVf}&nbsp;</b>
          </td>
        </tr>
        <tr>
          <td align="right" width="320">Αριθμός:</td>
          <td style="border:solid 1px #999" align="right">
            <b>{invoice_currentPrintNumber}</b>
          </td>
        </tr>
        <tr>
          <td colspan="2" align="right">
            &nbsp;<b>{invoice_location}</b>
                <b>{invoice_date}</b>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>